__pycache__
node_modules
.env
model/model-venv
server/server-venv
analysis/analysis-venv

# files to ignore from /analysis
analysis/figures

# files to ignore from /model
model/data/processed
model/data/filtered
model/data/whitelist.txt

model/custom_test_images
model/checkpoints

model/archive/checkpoints

# files to ignore from /server

# file to ignore from /frontend
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?